body {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
/*Menu*/
.menuItems {
	text-align:center;
	font-size: 1.1em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

#pageMenu li {
	display:inline-block;
	margin: 10px;
	color: #000;
}

#pageMenu li.active{
	color: #fff;
}
#pageMenu li a{
	text-decoration:none;
	color: #000;
}
#pageMenu li.active a:hover{
	color: #000;
}
#pageMenu a:hover{
	color: #fff;
}
#pageMenu li a,
#pageMenu li.active a{
	padding: 9px 18px;
	display:block;
}
#pageMenu li.active a{
	color: #fff;
}
#pageMenu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

/*General Section Formating*/
.section {
	font-weight: 300;
	font-size: 2em;
	text-align:center;
}

.slide {
	font-size:1em;
}

/*h1 {
	font-weight: 300;
	font-size: 2em;
}
*/
h3 {
	font-weight: 300;
	font-size: 1.5em;
	margin: 0 1em;
}

p {
	font-size: .7em;
}

/*Landing Page*/
#firstSection {
	background-image: url('../images/background-forest-bw.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	color:white;
}

#firstSection h1 {
	font-weight: 300;
	font-size: 2em;
	text-transform: uppercase;
}

.buttons {
	padding-left:0;
	font-family: 'Libre Baskerville', serif;
	/*text-transform: lowercase;*/
}

.buttons li {
	display:inline-block;
	text-decoration: none;
	font-size: 0.8em;
	margin: 5px;
}

.ghost-button {
	display: inline-block;
  	width: 175px;
  	padding: .3em;
  	color: #fff;
  	background-color: transparent;
  	border: 2px solid #fff;
  	border-radius: 5px;
  	text-align: center;
  	outline: none;
  	text-decoration: none;
  	transition: color 0.5s ease-out,
              background-color 0.5s ease-out,
              border-color 0.5s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
	background-color: #778899;
  	border-color: #778899;
  	color: #fff;
  	transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
}

@media only screen and (max-width: 660px) {
	.buttons {
		font-size: 0.6em;
	}

	.ghost-button {
		width: 125px;
	}
}

/*About Me*/
#secondSection {
	padding: 0 2em;
}

#secondSection h1 {
	font-family: 'Libre Baskerville', serif;
}


@media only screen and (max-width: 458px) {
	#pageMenu {
		font-size: 0.8em;
	}

	#pageMenu li a,
	#pageMenu li.active a {
		padding: 4px 0;
	}

	#firstSection h1 {
		font-size: 1em;
	}

	#secondSection h1 {
		font-size: 1em;
		/*margin-top: 2em;*/
	}

	#secondSection p {
		font-size: 0.5em;
	}
}

/*Projects*/
#thirdSection h3 {
	font-size: 1em;
	font-weight: 300;
}

/*Contact*/
#fourthSection {
	font-weight: 300;
}

.socialLinks {
	list-style: none;
	margin-top: 1.5em;
	padding-left: 0;
}

.socialLinks li {
	display:inline-block;
	margin: 0 10px;
}

.socialLinks a {
	color: #000;
}

.socialLinks a:hover, 
.socialLinks a:visited:hover {
	color: #fff;
}

.socialLinks a:visited {
	color: #000;
}

@media only screen and (max-width: 550px) {
	#fourthSection h3 {
		font-size: 0.8em;
	}
}

















